h1 {
    color: #243624;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 300%;
    background-color: rgb(239, 234, 224);
}

* {
    background-color: #45c9da;
    font-family: 'Lucida Sans', sans-serif;
    color: #5c5798;
    line-height: 2;
}

h2 {
    color: whitesmoke;
    font-weight: lighter;
    text-transform:uppercase
    font-weight: bold;
    background-color: grey;
}

nav ul li {
    background-color: rgb(217, 221, 208) ;
    margin-right: 50px;
    margin-left: 0cqh;


}

nav ul {
    background-color: rgb(127, 255, 174);
    padding-left: 0px;
    list-style: none;
}

nav ul li a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;



}